<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Surfacing Knowledge from Data">
      <%= assigns[:page_title] || "Knowit" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="flex flex-col items-center h-screen w-screen bg-white antialiased">
    <header>
      <div class="h-18 px-4 w-screen flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <div class="flex items-center justify-between py-3 text-md">
          <div class="flex items-center gap-4">
            <a href="/" class="items-center bg-brand/5 text-brand rounded-full px-2 font-medium leading-6">
              KnowIt
            </a>
          </div>
        </div>
        <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
          <%= if @current_user do %>
            <li class="text-[0.8125rem] leading-6 text-zinc-900">
              <%= @current_user.email %>
            </li>
            <li>
              <.link href={~p"/users/settings"} class="btn-primary">
                Settings
              </.link>
            </li>
            <li>
              <.link href={~p"/users/log_out"} method="delete" class="btn-primary">
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link href={~p"/users/register"} class="btn-primary">
                Register
              </.link>
            </li>
            <li>
              <.link href={~p"/users/log_in"} class="btn-primary">
                Log in
              </.link>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
    <div class="h-full w-full">
      <%= @inner_content %>
    </div>
  </body>
</html>
