<div id="canvasChart" phx-update="ignore">
    <canvas id="myChart" phx-hook="chart" height="200p" width="500px"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<button phx-click="next">NEXT RANDOM CHART</button>
