<div id="graphChart" phx-update="ignore" class="grid grid-cols-1 gap-4 place-content-center h-48">
    <div id="cy" phx-hook="graph" class="w-5/6 h-80"></div>
    <button class="btn-primary" phx-click="loadGraph">Load Knowledge Graph</button>
</div>
